Host sslab-amd
    User estarriol
    Hostname 140.112.90.91

Host sslab-ups
    User root
    ProxyJump sslab-4090
    Hostname 192.168.188.47

Host sslab-3090ti
    User estarriol
    Hostname 140.112.90.93

Host sslab-freeipa
    User jianlin
    ProxyJump sslab-4090
    Hostname 192.168.188.100

Host sslab-pve
    User estarriol
    Hostname 140.112.90.95

Host sslab-m1
    User jianlin
    Hostname 140.112.90.83

Host sslab-4090
    User jianlin
    Hostname 140.112.90.85

Host sslab-ava-1
    User jianlin
    Hostname 140.112.90.89

Host sslab-ava-2
    User jianlin
    Hostname 140.112.90.94

Host sslab-desktop
    User jianlin
    ProxyJump sslab-4090
    Hostname 192.168.188.245

Host sslab-m2-pro
    User jianlin
    ProxyJump sslab-4090
    Hostname 192.168.188.246

Host ptt
    Hostname ptt.cc
    User bbsu

Host ws1
    User r12944035
    Hostname ws1.csie.ntu.edu.tw

Host ws2
    User r12944035
    Hostname ws2.csie.ntu.edu.tw

Host ws3
    User r12944035
    Hostname ws3.csie.ntu.edu.tw

Host ws4
    User r12944035
    Hostname ws4.csie.ntu.edu.tw

Host ws5
    User r12944035
    Hostname ws5.csie.ntu.edu.tw

Host ws6
    User r12944035
    Hostname ws6.csie.ntu.edu.tw

Host ws7
    User r12944035
    Hostname ws7.csie.ntu.edu.tw
