Host raspberry
    Hostname estarriol.tplinkdns.com
    port 2222

Host desktop
    Hostname estarriol.tplinkdns.com
    port 3333

Host ubuntu
    Hostname 192.168.122.78

Host laptop
    Hostname 192.168.0.50

Host sekvm
    Hostname localhost
    User root
    Port 2222

Host ptt
    Hostname ptt.cc
    User bbsu

Host meow1
    User b07902103
    Hostname meow1.csie.ntu.edu.tw

Host meow2
    User b07902103
    Hostname meow2.csie.ntu.edu.tw

Host linux1
    User b07902103
    Hostname linux1.csie.ntu.edu.tw

Host linux2
    User b07902103
    Hostname linux2.csie.ntu.edu.tw

Host linux3
    User b07902103
    Hostname linux3.csie.ntu.edu.tw

Host linux4
    User b07902103
    Hostname linux5.csie.ntu.edu.tw

Host linux5
    User b07902103
    Hostname linux5.csie.ntu.edu.tw

Host linux6
    User b07902103
    Hostname linux6.csie.ntu.edu.tw

Host linux7
    User b07902103
    Hostname linux7.csie.ntu.edu.tw

Host linux8
    User b07902103
    Hostname linux8.csie.ntu.edu.tw

Host linux9
    User b07902103
    Hostname linux9.csie.ntu.edu.tw

Host linux10
    User b07902103
    Hostname linux10.csie.ntu.edu.tw

Host linux11
    User b07902103
    Hostname linux11.csie.ntu.edu.tw

Host linux12
    User b07902103
    Hostname linux12.csie.ntu.edu.tw

Host linux13
    User b07902103
    Hostname linux13.csie.ntu.edu.tw

Host linux14
    User b07902103
    Hostname linux14.csie.ntu.edu.tw

Host linux15
    User b07902103
    Hostname linux15.csie.ntu.edu.tw
