Include ~/.ssh/cool.config

Host sslab-freebsd
    User jianlin
    Hostname 192.168.188.244
    ProxyJump sslab-m2-pro

Host linux-bhyve
    User jianlin
    Hostname estarriol.tplinkdns.com
    port 3333

Host sslab-amd
    User estarriol
    Hostname 140.112.90.91

Host sslab-3090ti
    User estarriol
    Hostname 140.112.90.93

Host sslab-ava
    User estarriol
    Hostname 140.112.90.94

Host sslab-desktop
    User jianlin
    Port 12346
    Hostname 140.112.90.80

Host sslab-desktop.local
    User jianlin
    Hostname 192.168.188.245

Host sslab-m2-pro
    User jianlin
    Port 12349
    Hostname 140.112.90.80

Host sslab-m2-pro.local
    User jianlin
    Hostname 192.168.188.246

Host ptt
    Hostname ptt.cc
    User bbsu

Host meow1
    User b07902103
    Hostname meow1.csie.ntu.edu.tw

Host meow2
    User b07902103
    Hostname meow2.csie.ntu.edu.tw

Host ws1
    User b07902103
    Hostname ws1.csie.ntu.edu.tw

Host ws2
    User b07902103
    Hostname ws2.csie.ntu.edu.tw

Host ws3
    User b07902103
    Hostname ws3.csie.ntu.edu.tw

Host ws4
    User b07902103
    Hostname ws4.csie.ntu.edu.tw

Host ws5
    User b07902103
    Hostname ws5.csie.ntu.edu.tw

Host ws6
    User b07902103
    Hostname ws6.csie.ntu.edu.tw

Host ws7
    User b07902103
    Hostname ws7.csie.ntu.edu.tw
